.sec10 {
  padding-top: 70px;
  padding-bottom: 70px;
  font-family: var(--App-font);
}
.sub {
  width: 60%;
}
.sub-btn {
  text-transform: capitalize;
  box-shadow: 0px 0 20px #aaa;
  font-weight: bold;
  border: 2px solid transparent;
  transition: 0.5s;
  background-color: var(--links-color);
  color: #fff;
}

.sub-btn:hover {
  background-color: #fff;
  color: var(--links-color);
  border-color: var(--links-color) !important;
}
.in {
  flex: 1;
  margin-right: 20px;
}
input {
  height: 50px;
}
input,
button {
  border-radius: 0 !important;
}
